.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.#*
*~
+*.swp
db/sphinx/**/*
**/*.bak
*.sw*
*.vim
**/*.sw*
public/system/**/*
capybara*
*(Autosaved).txt
*(Autosaved).feature
current.test
spec/reports
config/database.yml
results/**/*
current.test
current.feature
coverage/**/*
coverage.data
coverage/index.html
coverage
pkg
Gemfile.lock
